/* Michael Scott
   CS 473 - Web Site Design
   9/9/08
   pie.html
   Style Sheet for Grandma's Lemon Meringe Page */


body	{ 
	   background-image:url(../image/silverware.jpg);
	   background-repeat: repeat;
	   background-attachment: fixed;/*规定背景图像是否固定或者随着页面的其余部分滚动*/
	}


h1, h2	{
	   color: #A4A400;
   	   background-color: #F0F0F0;
   	   font-family: "Century Gothic", "Futura", "Verdana", sans-serif;
   	   text-decoration: underline;/*下划线*/
   	   letter-spacing: 0.2em;
	 }


h1	{
	   text-align: center;
   	   font-size: 22pt;
  	   font-weight: bold;
	}


h2	{
   	   text-align: left;
   	   font-size: 18pt;
   	   font-weight: normal;
	}


p, li	{
   	   color: #404040;
   	   font-size: 11pt;
   	   font-family: "Georgia", "Garamond", "Serif";
	}


a	{
   	   color: #A4A400;
   	   text-decoration: underline;
	}


blockquote   {
   		font-style: italic;
   		background-color: #FFFFC8;
	     }

ul	{
   	   list-style-image:url(../image/pie_icon.gif);/*使用图像来替换列表项的标记*/
	}